.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 20px;
}
.chatOnlineBadge {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: limegreen;
  top: 0;
  right: 2px;
}
.chatOnlineImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 1px white;
}
